.cart-section {
    width: 85%;
    max-width: 800px;
    margin-inline: auto;
    /* height: 100vh; */
    /* height: 100svh; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
}

.cart__title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.cart__products {
    display: grid;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

.cart__footer {
    width: 100%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.cart__footer .cart__row {
    flex-basis: 100%;
}

.cart__button {
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    display: block;
    width: fit-content;
    margin-inline: auto;
}

.cart__empty {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    margin-top: 4rem;
}