.form-container h2 {
    margin-bottom: 2rem;
}

.form {
    display: grid;
    gap: 2rem;
    width: 100%;
    margin-inline: auto;
    margin-block: auto;
    height: max-content;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form__field input {
    min-width: 24rem;
    margin-inline: auto;
    text-align: center;
}

.error {
    text-transform: none;
    color: #d00;
}

form .button {
    margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
    /* .form-container {
        text-align: left;
    } */

    .form__field {
        text-align: left;
    }
}