.form {
    display: grid;
    gap: 2rem;
    width: 100%;
    margin-inline: auto;
    margin-block: auto;
    height: max-content;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form__field input {
    min-width: 24rem;
    margin-inline: auto;
    text-align: center;
}