.checkout {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.checkout h2 {
    margin-block: 1rem;
}

.checkout__form {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
}

@media screen and (min-width: 900px) {
    .checkout__form {
        flex-direction: row;
        gap: 10rem;
    }
}