.cart-icon-container {
    cursor: pointer;
    transition: all 300ms;
    width: 28px;
    height: 36px;
    z-index: 50;
}

.cart-icon-container:hover,
.cart-icon-container:focus {
    opacity: .5;
    scale: 1.1;
}

.cart-icon.invert {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(107deg) brightness(100%) contrast(103%);
}

.cart-counter {
    background-color: transparent;
    color: #000;
    display: block;
    width: 100%;
    text-align: right;
    translate: .5rem -.5rem;
    mix-blend-mode: difference;
}