header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 1.875rem;
    margin-inline: 1.875rem;
}

.hamburger {
    width: min-content;
    z-index: 50;
    cursor: pointer;
    transition: opacity 300ms;
}

.hamburger:hover,
.hamburger:focus {
    opacity: .5;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    translate: 0 -.01rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 300ms;
    z-index: 20;
}

.nav__menu.active {
    left: 0;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 300ms ease;
    background-color: #000;
}

.nav__menu-secondary {
    position: relative;
}

.nav__menu .logo {
    position: fixed;
    bottom: 2.5rem;
    right: 1rem;
}

.nav__item {
    margin-block: 1.6875rem;
}

.nav-button-active {
    opacity: .5;
    cursor: default;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    z-index: 10;
}

.overlay-visible {
    visibility: visible;
}

.cart {
    background-color: var(--bg-secondary);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 6rem;
    padding-inline: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: all 300ms;
    z-index: 20;
}

.cart-open {
    transform: translateX(0);
}

.cart-widget-container {
    z-index: 50;
}

@media screen and (min-width: 900px) {
    .nav__menu {
        width: 45%;
    }
}

@media screen and (min-width: 1300px) {
    .nav__item {
        margin-left: 4rem;
    }
}