.navbar {
    background-color: #000E;
    width: 100%;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

h1 a {
    color: #FFF;
}

.nav__list {
    display: flex;
    gap: 1.5rem;
    margin-inline: auto;
}

.nav__button {
    background-color: transparent;
    color: #FFF;
    padding: .25em .75em;
    border-radius: .25em;
    transition: all 350ms;

    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.nav__button:hover,
.nav__button:focus {
    background-color: #FFF;
    color: #000;
}
