@font-face {
  font-family: "NewYork";
  src: url("./fonts/NewYork.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
