.item-count {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2.5rem;
}

.item-count-row {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.counter-row {
    gap: 2.5rem;
    align-items: center;
    border: 1px solid var(--clr-primary);
    width: fit-content;
    padding: .5em 1.5em;
}

.counter-row h4:hover,
.cart-counter-row h4:hover,
.counter-row h4:focus,
.cart-counter-row h4:focus  {
    cursor: default;
}

.cart-counter-row {
    gap: 2.5rem;
    align-items: center;
}

.detail__price {
    margin-bottom: 1rem;
}