.item-count {
    display: grid;
    /* align-items: center; */
    gap: 2.5rem;
}

.counter-row {
    gap: 2.5rem;
    align-items: center;
    border: 1px solid var(--clr-primary);
    width: fit-content;
    padding: .5em 1.5em;
}

.counter-row h4:hover,
.cart-counter-row h4:hover,
.counter-row h4:focus,
.cart-counter-row h4:focus  {
    cursor: default;
}

.cart-counter-row {
    gap: 2.5rem;
    align-items: center;
}

.detail__price {
    margin-bottom: 1rem;
}